@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}